<div class="card">
  <h2>{{ school.Name }}</h2>
  @if (address) {
  <div>{{ address }}</div>
  }
  <div class="flex">
    <div class="w-56">
      <strong class="w-20 inline-block">From</strong>
      @if (school.From) {
      {{ school.From.Month }}
      {{ school.From.Year }}
      }
    </div>
    <div class="w-48">
      <strong class="w-10 inline-block">To</strong>
      @if (school.To) {
      {{ school.To.Month }}
      {{ school.To.Year }}
      }
    </div>
  </div>
  <div class="flex">
    <div class="w-20">
      <strong>Degree</strong>
    </div>
    <div class="flex-grow">{{ school.Degree }}</div>
  </div>
  <div class="flex">
    <div class="w-20">
      <strong>Program</strong>
    </div>
    <div class="flex-grow">{{ school.Program }}</div>
  </div>
</div>
